.icon-close-tree { background-image: url(../images/folder.png); }
.icon-open-tree { background-image: url(../images/folder_open.png); }
/***** Gantt Dashboard *****/
.plusgantt_progress_container {width: 335px;height: 220px;background-color: #fafafa;border: solid 3px #61a9dc;}
.plusgantt_progress {position: relative;left: 72px;width: 180px;height: 180px;top: 0px;}
.plusgantt_hours_container {width: 620px;height: 220px;background-color: #fafafa;border: solid 3px #61a9dc;}
.plusgantt_exp_progress {width: 335px;height: 30px;line-height: 30px;text-align: center;font-weight: bold;color: #333;position: relative;top: 10px;left: 0px;background-color: #61a9dc;}
.plusgantt_hours_right {height: 25px;width: 160px;border-bottom: 5px solid #7f7f7f;color: #7f7f7f;transform: rotate(-90deg);float: left;position: relative;left: -50px;top: 70px;text-align: center;font-weight: bold;}

.plusgantt_hour_line {height: 30px;line-height: 30px;width: 340px;position: relative;left: 40px;color: white;top: 30px;text-align: center;}

.plusgantt_hour_line.total_budget { background-color: #808080}
.plusgantt_hour_line.partial_budget { background-color: #376092 }
.plusgantt_hour_line.consumed_ok { background-color: #77933c }
.plusgantt_hour_line.consumed_wargning { background-color: #cccc00 }
.plusgantt_hour_line.consumed_red { background-color: #c0504d }

.plusgantt_spacer { height: 10px;}

/***** Gantt chart *****/
.plusgantt_area {position: absolute;left: 0px;}

.plusgantt_hdr {
  position:absolute; top:0; height:16px; overflow: hidden;
  border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0; border-right: 1px solid #c0c0c0;
  text-align: center;
}

.plusgantt_hdr.nwday {background-color:#f1f1f1; color:#999;}

.plusgantt_subjects { font-size: 0.8em; }
.plusgantt_subjects div {line-height:16px;height: 18px;overflow:hidden;white-space:nowrap;text-overflow: ellipsis;}

.pgissue-subject, .pgversion-name {position: relative;height:18px;top:0px;}
.pgproject-name {position: relative;height:18px;top: 0px;}

.markupSubject { box-shadow: inset 0px 0px 1px 1px #888;background-color: #ffffdd;}

.markupTask { box-shadow: inset 0px 0px 1px 1px #888;background-color: #e4e4e4;}

.pgtaskcontainer {position: relative;height:18px;top: 0px;}
.pgtaskcontainer.pgtask.pgproject {top:0px;}

.pgtask {
  position: absolute; top: 4px; height:8px; padding:0; margin:0;
  font-size:0.8em; olor:#888;
  line-height:16px; white-space:nowrap;
}

.pgtask.label {top:0px; width:15px;}
.pgtask.label.project, .pgtask.label.version { font-weight: bold; }

.pgtask_late { position: absolute; background:#C0504D url(../images/task_late.png); border: 1px solid #C0504D; }
.pgtask_done {position: absolute;background:#77933C url(../images/task_done.png);border: 1px solid #77933C;}
.pgtask_todo { position: absolute; background:#aaa url(../images/task_todo.png); border: 1px solid #aaa; }

.pgtask_todo.parent { background: #888; border: 1px solid #888; height: 3px;}
.pgtask_late.parent, .pgtask_done.parent {height: 5px;border: 0px;}
.pgtask.parent.marker {top: 4px;}
.pgtask.parent.marker.starting  { position: absolute; background: url(../images/task_parent_end.png) no-repeat 0 0; width: 8px; height: 16px; margin-left: -4px; left: 0px;}
.pgtask.parent.marker.ending { position: absolute; background: url(../images/task_parent_end.png) no-repeat 0 0; width: 8px; height: 16px; margin-left: -4px; right: 0px;}

.pgversion.pgtask_late, .pgversion.pgtask_done  { height: 4px; border: 0px;}
.pgversion.pgtask_todo { height: 4px;background:#aaa url(../images/milestone_todo.png); border: 0px;}
.pgversion.marker { background-image:url(../images/task_parent_end.png); background-repeat: no-repeat; border: 0; margin-left: -4px; height: 12px; top: 4px;width: 8px;}

.pgproject.pgtask_late, .pgproject.pgtask_done  { height: 4px; border: 0px;}
.pgproject.pgtask_todo { height: 4px;background:#aaa url(../images/milestone_todo.png); border: 0px;}
.pgproject.marker {background-image:url(../images/task_parent_end.png);background-repeat: no-repeat;border: 0;margin-left: -4px;height: 12px;top: 4px;width: 8px;}

/***** Tooltips ******/
.pgtooltip {position:relative;z-index:7;top: 8px;left:0px;height:12px;}
.pgtooltip:hover {z-index:8;color:#000;}
.pgtooltip span.tip{position:relative;display: none;text-align:left;top:4px;}

div.pgtooltip:hover span.tip{
	position:relative;
	border: 1px solid #ccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	display:block;
	position:absolute;
	top:8px;
	width:270px;
	background-color:#fff;
	padding: 4px;
	font-size: 0.8em;
	color:#505050;
	z-index: 8;
}